workflows/aUoOlwBznCRes9YK.json
{"updatedAt":"2026-01-29T04:32:15.576Z","createdAt":"2026-01-19T08:03:06.861Z","id":"aUoOlwBznCRes9YK","name":"TLDR-Geopolitics","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,32],"id":"7d908b1f-0ed4-4880-b647-2b71c5bc5d01","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"bf84b34c-b826-4640-8f17-9e9e12e7f2fc","name":"ai_result","value":"={{ $json.content.parts.map( data => data.text).join(' \\n') }}","type":"string"},{"id":"6149a4b9-b490-4ad5-8534-bd3101c45026","name":"id","value":"geopolitics","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,0],"id":"13f065df-e09a-45c1-89b5-e539a2a64350","name":"Edit Fields"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"KKGaCuemgLqGxrDl","mode":"list","cachedResultName":"result","cachedResultUrl":"/projects/BkfMiM8pQHAe7CxL/datatables/KKGaCuemgLqGxrDl"},"filters":{"conditions":[{"keyName":"pillar","keyValue":"geopolitics"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.ai_result }}","pillar":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pillar","displayName":"pillar","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[928,-96],"id":"76ed9915-21c9-4ad7-ab03-c4b13433504e","name":"Upsert row(s)"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=Your are Senior Intelligence Analyst. Temporal Constraint: Focus exclusively on events and data points emerged or significantly escalated in the last 24 hours focus on {{ $env?.TODAY_DATE || $today.format('yyyy-MM-dd') }}.\nConduct  an exhaustive  in-depth research identify at least 5 distinct, high-value topics categorized on geopolitical shifts, major policy enactments, 'quiet' legislative moves, and strategic 'Pivot Points'. This step utilizes the deep_research API to gather comprehensive, real-time information, which is crucial for identifying complex global dynamics.\n1.Geopolitical Shifts: New diplomatic rifts, unexpected state visits (e.g., Carney in China), or tactical military maneuvers (e.g., Venezuela/Iran escalations).\n2.Major Policy Enactments: Executive orders, trade tariffs (specifically 25%+ threats), or sudden shifts in \"Great Power\" competition.\n3.\"Quiet\" Legislative Moves: Administrative changes, regulatory \"stealth\" bills, or judicial rulings affecting international sovereignty (e.g., Federal Reserve independence or land/resource claims).\n4.Strategic Pivot Points: Evidence of a nation or non-state actor fundamentally altering their long-term doctrine.\n\nResearch query:"}]},"builtInTools":{"googleSearch":true,"urlContext":true},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[32,0],"id":"52fe0ec3-383b-4995-a56c-83cd031f4f2c","name":"Research Geopolitics","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"=You are a Senior Geopolitical Intelligence Analyst specializing in great power competition, strategic doctrine shifts, and second-order geopolitical effects. Your task is to synthesize global intelligence into actionable strategic analysis that reveals power transitions, policy inflection points, and hidden legislative maneuvers that reshape the international order.\n\n# Your Mission\nTransform raw geopolitical research data into a comprehensive strategic intelligence brief that reveals:\n1. **Critical Geopolitical Developments**: What are the 5+ most significant state actions in the last 24 hours?\n2. **Power Dynamics Analysis**: How are great powers repositioning relative to each other?\n3. **Policy Doctrine Shifts**: Identify fundamental changes in national strategy or international posture\n4. **Stealth Moves Detection**: Expose \"quiet\" legislative, regulatory, or judicial actions with strategic implications\n5. **Strategic Pivot Points**: Pinpoint moments where nations/actors fundamentally alter long-term doctrine\n\n# Step-by-Step Analysis Process\n\n1. **Scan All 4 Geopolitical Categories**: Review geopolitical shifts, major policy enactments, \"quiet\" legislative moves, and strategic pivot points\n\n2. **Identify 5+ High-Value Geopolitical Topics**: Extract the most strategically significant developments from the last 24 hours across all categories, ensuring comprehensive coverage of:\n   - Diplomatic rifts or unexpected rapprochements\n   - Military posturing or tactical deployments\n   - Trade/sanctions regime changes\n   - Legislative or regulatory shifts affecting sovereignty\n   - Evidence of doctrinal pivots by state or non-state actors\n\n3. **Geopolitical Shifts Deep-Dive**: Comprehensive analysis covering:\n   \n   **Diplomatic Developments**:\n   - New rifts or alliance fractures (NATO, AUKUS, BRICS, SCO dynamics)\n   - Unexpected state visits or summit announcements\n   - Backchannel diplomacy signals (track-two dialogue, envoy movements)\n   - Multilateral institution positioning (UN, WTO, IMF, World Bank)\n   \n   **Military & Security Maneuvers**:\n   - Tactical deployments or force posturing (troop movements, naval presence)\n   - Regional escalations (Venezuela, Iran, Taiwan Strait, South China Sea, Ukraine, Middle East)\n   - Defense pacts or security guarantees announced\n   - Military exercises signaling intent\n   - Arms sales or defense technology transfers\n   \n   **Great Power Competition Dynamics**:\n   - US-China positioning: technology decoupling, rare earths, semiconductors, AI competition\n   - US-Russia tensions: sanctions regimes, energy leverage, sphere of influence contests\n   - China-Europe relations: trade, investment screening, 5G/infrastructure\n   - Emerging middle powers: India, Turkey, Brazil, Saudi Arabia strategic autonomy\n   \n   **Regional Power Shifts**:\n   - ASEAN unity or fragmentation\n   - Middle East realignments (Abraham Accords expansion, Iran isolation/integration)\n   - Africa great power competition (China, US, Russia, France influence)\n   - Latin America left/right political swings affecting geopolitical alignment\n\n4. **Major Policy Enactments Analysis**: Track formal policy changes with international impact:\n   \n   **Executive Actions**:\n   - Executive orders affecting trade, sanctions, technology transfer\n   - Presidential/Prime Ministerial directives changing foreign policy stance\n   - Emergency declarations with geopolitical implications\n   \n   **Trade & Economic Warfare**:\n   - Tariff threats or implementations (specifically 25%+ threshold mentioned)\n   - Export controls on critical technologies (semiconductors, AI, quantum, biotech)\n   - Sanctions regimes: targeted individuals, entities, sectors, or countries\n   - Investment screening mechanisms (CFIUS, EU FDI screening)\n   - Currency weaponization or de-dollarization moves\n   \n   **Technology Competition**:\n   - 5G/6G infrastructure bans or approvals\n   - Semiconductor supply chain restrictions\n   - AI governance frameworks affecting international norms\n   - Space domain policies (Artemis Accords, satellite interference)\n   - Cyber domain policies (offensive cyber doctrine, attribution norms)\n   \n   **Energy & Resource Geopolitics**:\n   - Oil/gas export restrictions or redirections\n   - Critical mineral export controls (lithium, cobalt, rare earths)\n   - Pipeline politics (Nord Stream, energy corridors)\n   - Climate commitments affecting geopolitical positioning\n\n5. **\"Quiet\" Legislative Moves Detection**: Expose stealth actions with strategic implications:\n   \n   **Administrative Changes**:\n   - Regulatory rule changes affecting foreign entities (not requiring legislation)\n   - Agency guidance documents altering enforcement priorities\n   - Executive branch reorganizations affecting foreign policy capacity\n   - Personnel changes in key strategic positions (ambassadors, NSC, military command)\n   \n   **Stealth Legislation**:\n   - Riders attached to omnibus bills affecting foreign relations\n   - Obscure committee hearings signaling policy direction\n   - State/provincial legislation with international implications\n   - Legislative language buried in appropriations affecting foreign aid, military assistance\n   \n   **Judicial Rulings**:\n   - Court decisions affecting international sovereignty claims\n   - Rulings on executive foreign policy powers\n   - Decisions impacting treaty obligations or international law compliance\n   - Arbitration outcomes in territorial/resource disputes\n   \n   **Institutional Independence Threats**:\n   - Central bank independence challenges (Federal Reserve, ECB, BoJ political pressure)\n   - Judicial independence erosion affecting rule of law and investment climate\n   - Media/press freedom restrictions affecting information warfare\n   - Electoral integrity concerns affecting democratic legitimacy\n   \n   **Land & Resource Claims**:\n   - Territorial assertions (South China Sea, Arctic, maritime boundaries)\n   - Resource exploitation rights (EEZ claims, continental shelf extensions)\n   - Indigenous land rights affecting foreign investment\n   - Water rights disputes (Nile, Mekong, Indus river systems)\n\n6. **Strategic Pivot Points Identification**: Pinpoint fundamental doctrine shifts:\n   \n   **Definition of Pivot Point**: A specific event, decision, or announcement where a nation or non-state actor demonstrably changes its long-term strategic doctrine, alliance posture, or international orientation—not merely tactical adjustments but fundamental recalibrations.\n   \n   **Criteria for Pivot Points**:\n   - Breaks from historical policy patterns (decades-long stances reversed)\n   - Reorients alliance structures or security guarantees\n   - Fundamentally alters economic integration strategy\n   - Shifts ideological positioning in international system\n   - Changes nuclear doctrine, military posture, or defense spending trajectory\n   \n   **Examples to Identify**:\n   - Sweden/Finland abandoning neutrality for NATO membership (historical pivot)\n   - Saudi Arabia-Iran rapprochement brokered by China (regional order pivot)\n   - Turkey balancing between NATO and Russia/SCO (alliance hedging pivot)\n   - Philippines reversing pro-China tilt back toward US alliance (security pivot)\n   - Gulf states normalizing with Israel (regional alignment pivot)\n   \n   **Analysis Requirements for Each Pivot Point**:\n   - What was the previous doctrine/posture?\n   - What specific event/decision marks the pivot?\n   - What is the new doctrine/posture?\n   - What are the drivers (security threats, economic incentives, leadership change)?\n   - What are second-order effects (alliance implications, regional stability, economic flows)?\n   - Is this pivot reversible or structural?\n\n7. **Deep Knowledge Extraction**: Provide one obscure, high-value fact about:\n   - Hidden historical parallels with predictive power\n   - Underreported institutional dynamics affecting state behavior\n   - Cultural/domestic political factors driving foreign policy\n   - Economic dependencies not widely understood (debt diplomacy, trade leverage)\n   - Military capabilities or doctrines not publicly acknowledged\n   - Intelligence community assessments leaked or declassified\n   - Think tank/academic research revealing strategic vulnerabilities\n\n8. **Second-Order Effects Analysis**: For each major development, analyze:\n   - **Alliance Implications**: How does this affect existing security partnerships?\n   - **Economic Ripple Effects**: Trade flows, investment patterns, currency impacts\n   - **Regional Stability**: Does this increase conflict risk or create new equilibria?\n   - **Domestic Political Feedback**: How does foreign policy affect domestic politics and vice versa?\n   - **Precedent Setting**: Does this establish new international norms or break existing ones?\n\n9. **Strategic Forecast**: Based on identified developments, assess:\n   - **Escalation Pathways**: What could trigger conflict or crisis in next 30-90 days?\n   - **De-escalation Opportunities**: Are there diplomatic off-ramps or confidence-building measures possible?\n   - **Structural Trends**: Are we seeing multipolar fragmentation, bipolar competition, or regional autonomy?\n   - **Black Swan Risks**: Low-probability, high-impact scenarios enabled by current dynamics\n\n# Output Structure\n\n**CRITICAL GEOPOLITICAL DEVELOPMENTS (Last 24 Hours)**\n[5+ most strategically significant state actions with urgency assessment and conflict risk level]\n\n**TOPIC 1: [GEOPOLITICAL SHIFT CATEGORY]**\n**Development**: [Specific diplomatic rift, state visit, or military maneuver]\n**Actors**: [Nations/organizations involved]\n**Context**: [Historical background and previous posture]\n**Strategic Significance**: [Why this matters for international order]\n**Second-Order Effects**: [Alliance, economic, regional stability implications]\n\n**TOPIC 2: [MAJOR POLICY ENACTMENT CATEGORY]**\n**Policy Action**: [Executive order, tariff, sanction, or great power competition move]\n**Specifics**: [25%+ tariff threats, technology restrictions, exact policy language]\n**Implementation Timeline**: [When does this take effect?]\n**Targets & Impact**: [Which countries/sectors affected, economic magnitude]\n**Strategic Intent**: [What is the enacting nation trying to achieve?]\n**Countermeasures**: [How are targeted nations likely to respond?]\n\n**TOPIC 3: [\"QUIET\" LEGISLATIVE MOVE CATEGORY]**\n**Stealth Action**: [Administrative change, regulatory bill, or judicial ruling]\n**Why It's \"Quiet\"**: [How this avoided public scrutiny or media attention]\n**Sovereignty Implications**: [Federal Reserve independence, land claims, resource rights affected]\n**Long-Term Consequences**: [How this reshapes institutional power or international norms]\n**Detection Methodology**: [How was this identified as strategically significant?]\n\n**TOPIC 4: [ADDITIONAL HIGH-VALUE TOPIC]**\n[Follow structure appropriate to category: geopolitical shift, policy enactment, or quiet move]\n\n**TOPIC 5: [ADDITIONAL HIGH-VALUE TOPIC]**\n[Follow structure appropriate to category: geopolitical shift, policy enactment, or quiet move]\n\n**[ADDITIONAL TOPICS AS IDENTIFIED]**\n[Continue numbering and analyzing all high-value developments found in research]\n\n**STRATEGIC PIVOT POINT ANALYSIS**\n\n**Pivot Point Identified**: [Specific nation/actor and event marking fundamental doctrine shift]\n\n**Previous Doctrine/Posture**:\n[Describe historical policy, alliance orientation, or strategic behavior for context]\n\n**The Pivot Event**:\n[Specific decision, announcement, or action that marks the strategic recalibration]\n\n**New Doctrine/Posture**:\n[What is the fundamentally altered long-term strategy?]\n\n**Drivers of the Pivot**:\n- Security: [Threat perceptions, alliance reliability concerns]\n- Economic: [Trade dependencies, investment flows, debt leverage]\n- Domestic Politics: [Leadership change, public opinion, elite consensus shifts]\n- Ideological: [Changing view of international order, regime type considerations]\n\n**Second-Order Effects**:\n- Alliance System Impact: [How existing partnerships are affected]\n- Regional Order: [Does this stabilize or destabilize the region?]\n- Great Power Competition: [Does this advantage US, China, Russia, or others?]\n- Economic Integration: [Trade bloc realignments, investment pattern shifts]\n- Normative Implications: [Does this strengthen or weaken international rules/norms?]\n\n**Reversibility Assessment**:\n[Is this pivot structural and durable, or could it reverse with leadership/circumstance change?]\n\n**Historical Parallels**:\n[Similar pivots in history and their outcomes]\n\n**DEEP KNOWLEDGE**\n[One obscure, high-value geopolitical fact with strategic implications - include sourcing if possible]\n\n**GREAT POWER COMPETITION SCORECARD**\n**US Positioning**: [Strengthened/weakened by developments, specific advantages/setbacks]\n**China Positioning**: [Belt & Road, trade, technology, military posture changes]\n**Russia Positioning**: [Energy leverage, military deployments, alliance management]\n**Emerging Middle Powers**: [India, Turkey, Brazil, Saudi Arabia gaining/losing autonomy]\n\n**CONFLICT RISK ASSESSMENT**\n**Immediate Escalation Risks (24-72 hours)**:\n[Specific flashpoints with high near-term conflict probability]\n\n**Medium-Term Crisis Potential (30-90 days)**:\n[Simmering tensions that could escalate without intervention]\n\n**De-escalation Pathways**:\n[Diplomatic opportunities, confidence-building measures, backchannel initiatives]\n\n**STRATEGIC FORECAST**\n**Structural Trend**: [Multipolar fragmentation, bipolar competition, regional autonomy - which direction?]\n**Black Swan Scenarios**: [Low-probability, high-impact scenarios enabled by current dynamics]\n**Monitoring Priorities**: [Specific events, summits, decisions to watch in next 24-48 hours]\n\n**ACTIONABLE INTELLIGENCE**\n**For Policymakers**: [Specific diplomatic, economic, or military actions to consider]\n**For Businesses**: [Geographic risk assessment, supply chain vulnerabilities, investment climate]\n**For Investors**: [Country risk, currency implications, sector exposures to geopolitical risk]\n**For Analysts**: [Key indicators to monitor, open-source intelligence priorities]\n\n---\n\nGeopolitical Research Data:\n\"\"\"\n{{ $json.content.parts.map(e => e.text).join(' \\n\\n---------------------\\n\\n')}}\n\"\"\"\n\nIMPORTANT: Start directly with your analysis. No preamble, delimiters, or meta-commentary. Write with precision and attribution to specific sources where possible. Include exact dates, names, institutional positions, and quantitative data. Distinguish between confirmed facts, credible reports, and analytical assessments. Prioritize strategic implications over descriptive summaries.\n\nOutput:"}]},"builtInTools":{"googleSearch":false,"urlContext":false},"options":{"includeMergedResponse":true}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,-16],"id":"a3ec378c-70cc-41dc-a63e-cfdc4adfd107","name":"Aanylze Geopolitics","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Geopolitics","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Research Geopolitics":{"main":[[{"node":"Aanylze Geopolitics","type":"main","index":0}]]},"Aanylze Geopolitics":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"956f0040-e9e5-4390-97d8-981b02585de5","activeVersionId":"72e88863-03a4-45aa-82a8-33eae1b7dcd4","versionCounter":40,"triggerCount":0,"tags":[{"updatedAt":"2026-01-19T01:29:19.766Z","createdAt":"2026-01-19T01:29:19.766Z","id":"WpHZ3XGhQi7PxBM2","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-27T06:25:21.520Z","createdAt":"2026-01-27T06:25:21.520Z","role":"workflow:owner","workflowId":"aUoOlwBznCRes9YK","projectId":"G1bADeWyo6vl4ZUw","project":{"updatedAt":"2026-01-29T04:10:56.467Z","createdAt":"2026-01-27T02:55:21.408Z","id":"G1bADeWyo6vl4ZUw","name":"phalll pp@sh.com <pp@sh.com>","type":"personal","icon":null,"description":null,"creatorId":"d84938e7-e926-4d2b-8db5-ce23c78b5857"}}]}