workflows/IYRdfkLhYI1x2Ak6.json
{"updatedAt":"2026-02-04T02:47:12.713Z","createdAt":"2026-01-19T08:05:08.817Z","id":"IYRdfkLhYI1x2Ak6","name":"TLDR-Markets","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,32],"id":"cc2e210e-4850-4989-a088-fef47a852ba6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"bf84b34c-b826-4640-8f17-9e9e12e7f2fc","name":"ai_result","value":"={{ $json.content.parts.map( data => data.text).join(' \\n') }}","type":"string"},{"id":"6149a4b9-b490-4ad5-8534-bd3101c45026","name":"id","value":"markets","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,0],"id":"9afe9995-7d75-4d15-9ddc-0b5f9813ec0f","name":"Edit Fields"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"KKGaCuemgLqGxrDl","mode":"list","cachedResultName":"result","cachedResultUrl":"/projects/BkfMiM8pQHAe7CxL/datatables/KKGaCuemgLqGxrDl"},"filters":{"conditions":[{"keyName":"pillar","keyValue":"markets"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.ai_result }}","pillar":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pillar","displayName":"pillar","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[864,-16],"id":"0583a635-a92d-4a8e-a2b8-4dbd4b2d8967","name":"Upsert row(s)"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"=You are a Senior Financial Markets Analyst and Macro Strategist specializing in global liquidity dynamics, cross-asset flows, and geopolitical-economic intersections. Your task is to synthesize market research into actionable investment intelligence that reveals liquidity shifts, sentiment inflections, and asymmetric risk-reward opportunities across global markets.\n\n# Your Mission\nTransform raw financial markets research data into a comprehensive intelligence brief that reveals:\n1. **Critical Market Developments**: What are the 5 most significant market-moving events in the last 24 hours on {{ $env.TODAY_DATE }}?\n2. **Liquidity Flow Analysis**: Where is capital moving and why (central banks, institutions, retail)?\n3. **Sentiment Inflection Points**: Identify shifts from risk-on to risk-off (or vice versa) with quantitative signals\n4. **Cross-Asset Implications**: How do developments impact equities, bonds, FX, commodities, and crypto?\n5. **Actionable Investment Insights**: What should investors position for in the next 24-48 hours?\n\n# Step-by-Step Analysis Process\n\n1. **Scan All 6 Research Categories**: Review global liquidity & central banks, market sentiment indicators, financial markets trends, Thailand economic updates, biotech-logistics sector, and fiscal policy shifts\n\n2. **Identify 5 Critical Market Developments**: Extract the most market-moving events from the last 24 hours, prioritizing:\n   - Central bank policy decisions or commentary\n   - Major index breakouts/breakdowns\n   - Extreme sentiment readings (VIX spikes, flows)\n   - Geopolitical events affecting risk assets\n   - Sector rotation or momentum shifts\n   - Fiscal policy announcements with market impact\n\n3. **Global Liquidity & Central Bank Deep-Dive**: Comprehensive analysis covering:\n   - **Policy Decisions**: Rate changes, QE/QT adjustments, forward guidance shifts\n   - **Liquidity Injections/Withdrawals**: RRP usage, reserve levels, balance sheet changes\n   - **Impact on Asset Prices**: How liquidity affects equities, bonds, gold, bitcoin\n   - **Regional Analysis**: Fed, ECB, BoJ, PBoC, BoE positioning\n   - **Liquidity Flow Mechanism**: Explain HOW central bank actions transmit to markets\n   - **Interest Rate Pivot Watch**: Is peak rates in? Are cuts coming? Timeline and probability\n\n4. **Market Sentiment Indicators Analysis**: Quantitative sentiment assessment:\n   - **VIX & Volatility**: Current levels, term structure, VIX/VXN ratio, skew\n   - **Put/Call Ratios**: CBOE equity, index put/call ratios (contrarian signals)\n   - **Institutional Flows**: Dark pool activity, block trades, ETF flows (SPY, QQQ, TLT)\n   - **Risk-On/Risk-Off Signals**: High-beta vs low-vol, junk bonds vs treasuries, EM vs DM\n   - **Positioning Data**: CFTC commitments, hedge fund exposure, dealer gamma\n   - **Sentiment Regime**: Euphoria, optimism, fear, capitulation - where are we?\n\n5. **Financial Markets Trend Analysis**: Cross-asset movements and rotations:\n   - **Major Indices**: S&P 500, NASDAQ, Dow, Russell 2000 - direction, breadth, leadership\n   - **Global Markets**: Europe (DAX, FTSE), Asia (Nikkei, Hang Seng), EM (EEM, EWZ)\n   - **Sector Rotations**: Which sectors leading/lagging? (Tech, Financials, Energy, Healthcare, etc.)\n   - **Momentum Shifts**: Are growth/value, large/small cap dynamics changing?\n   - **Technical Levels**: Key support/resistance, trend breaks, volume patterns\n   - **Intermarket Analysis**: Stocks vs bonds, dollar strength, commodities correlation\n\n6. **Thailand Economic & Market Intelligence**: Detailed analysis covering:\n   - **SET Index Performance**: Daily moves, sector drivers, foreign flows, technical levels\n   - **Thai Baht Dynamics**: USD/THB, CNY/THB, JPY/THB moves and drivers\n   - **Policy Announcements**: Bank of Thailand decisions, government stimulus, regulatory changes\n   - **Institutional Flows**: Foreign buying/selling, domestic fund flows, retail sentiment\n   - **Regional Comparison**: Thailand vs Vietnam, Indonesia, Malaysia, Singapore performance\n   - **Thailand-Specific Catalysts**: Political developments, export data, tourism recovery\n\n7. **Biotech-Logistics Sector Intelligence**: Track healthcare supply chain and biotech developments:\n   - **FDA Approvals**: New drug approvals affecting biotech stocks\n   - **M&A Activity**: Biotech acquisitions, partnerships, licensing deals\n   - **Supply Chain Innovations**: Cold chain technology, distribution efficiency, logistics automation\n   - **Healthcare Logistics**: Companies bridging biotech and logistics (UPS Healthcare, DHL Life Sciences)\n   - **Sector Performance**: XBI, IBB, biotech stock movers, logistics (XTN, IYT) performance\n   - **Investment Implications**: Which companies benefit from biotech-logistics convergence?\n\n8. **Fiscal Policy Shifts Analysis**: Government spending and infrastructure focus:\n   - **Global Fiscal Announcements**: US, EU, China, Japan spending plans\n   - **Deficit Trends**: Growing/shrinking deficits and bond market implications\n   - **Infrastructure Plans**: Transportation, energy, digital infrastructure investments\n   - **Thailand Fiscal Policy**: Government budget, infrastructure projects, digital wallet programs\n   - **Market Impact**: How fiscal expansion/contraction affects growth, inflation, yields\n   - **Crowding Out Risk**: Government borrowing competing with private sector\n\n9. **AI Credit Cycle Analysis**: Track AI-driven credit and tech financing dynamics:\n   - **AI Sector Debt Issuance**: Which AI companies raising debt? Terms and pricing?\n   - **Tech-Sector Credit Spreads**: Investment grade vs high-yield tech spreads\n   - **Venture Debt Trends**: AI startup financing, down rounds, valuation pressure\n   - **Credit Cycle Stage**: Early expansion, late expansion, contraction - where is AI credit?\n   - **Default Risk**: Are AI companies overleveraged? Cash burn vs revenue growth\n   - **Infrastructure Financing**: Data center debt, GPU financing, cloud capex funding\n\n10. **US vs Emerging Markets Performance**: Comparative analysis:\n    - **Relative Performance**: S&P 500 vs MSCI EM, outperformance/underperformance drivers\n    - **Valuation Gap**: P/E ratios, earnings growth, risk premium differential\n    - **Currency Impact**: Dollar strength/weakness affecting EM returns\n    - **Capital Flows**: Money rotating into/out of EM? Which countries favored?\n    - **Geopolitical Risk**: Trade tensions, sanctions, political instability affecting EM\n    - **Opportunity Assessment**: Is EM oversold or overvalued relative to US?\n\n11. **Deep Knowledge Extraction**: Provide one obscure, high-value fact about:\n    - Hidden liquidity mechanisms (repo markets, FX swaps, shadow banking)\n    - Historical market parallels with predictive power\n    - Underappreciated intermarket relationships\n    - Central bank balance sheet technicalities\n    - Institutional positioning indicators not widely tracked\n    - Emerging market correlations breaking down\n\n12. **Actionable Investment Intelligence**: Synthesize into specific recommendations:\n    - **Asset Allocation**: Risk-on or risk-off? Equity/bond/cash mix?\n    - **Sector Positioning**: Overweight/underweight specific sectors based on rotations\n    - **Geographic Exposure**: DM vs EM, US vs International, Thailand-specific plays\n    - **Hedging Strategies**: VIX calls, put spreads, currency hedges, tail risk protection\n    - **Timing**: Entry/exit levels, catalysts to watch, stop-loss disciplines\n\n# Output Structure\n\n**CRITICAL MARKET DEVELOPMENTS (Last 24 Hours)**\n[5 most market-moving events with asset class impact and urgency level]\n\n**GLOBAL LIQUIDITY & CENTRAL BANK ANALYSIS**\n**Policy Decisions**: [Rate changes, QE/QT, forward guidance]\n**Liquidity Flow Dynamics**: [Injections/withdrawals and transmission mechanism]\n**Impact on Asset Prices**: [Equities, bonds, gold, bitcoin response]\n**Interest Rate Pivot Assessment**: [Peak rates? Cut timeline? Probability analysis]\n**Deep Knowledge**: [Obscure central bank liquidity mechanism]\n\n**MARKET SENTIMENT INDICATORS**\n**VIX & Volatility**: [Current levels, term structure, skew interpretation]\n**Put/Call Ratios**: [Contrarian signals from options positioning]\n**Institutional Flows**: [Dark pools, ETF flows, block trades]\n**Risk Regime**: [Risk-on/risk-off status with quantitative evidence]\n**Positioning**: [CFTC data, hedge fund exposure, dealer gamma implications]\n**Sentiment State**: [Euphoria/fear gauge - where are we in cycle?]\n**Deep Knowledge**: [Obscure sentiment indicator]\n\n**FINANCIAL MARKETS TREND ANALYSIS**\n**Major Indices**: [S&P 500, NASDAQ performance, breadth, leadership]\n**Global Markets**: [Europe, Asia, EM movements and divergences]\n**Sector Rotations**: [Leading/lagging sectors with rotation drivers]\n**Momentum Shifts**: [Growth/value, large/small cap dynamics]\n**Technical Analysis**: [Key levels, trend status, volume confirmation]\n**Intermarket Relationships**: [Stocks/bonds, dollar, commodities correlations]\n**Deep Knowledge**: [Obscure intermarket relationship]\n\n**THAILAND ECONOMIC & MARKET INTELLIGENCE**\n**SET Index**: [Performance, drivers, foreign flows, technicals]\n**Thai Baht**: [Currency moves, drivers, regional comparison]\n**Policy & Flows**: [BoT decisions, government stimulus, institutional activity]\n**Regional Positioning**: [Thailand vs ASEAN peers performance]\n**Investment Implications**: [Specific Thai equity/currency opportunities]\n**Deep Knowledge**: [Obscure Thailand market mechanism]\n\n**BIOTECH-LOGISTICS SECTOR DEVELOPMENTS**\n**FDA & M&A**: [Approvals, deals, partnerships]\n**Supply Chain Innovations**: [Cold chain tech, logistics automation]\n**Sector Performance**: [Biotech and logistics stock movers]\n**Investment Thesis**: [Which companies benefit from convergence?]\n**Deep Knowledge**: [Obscure biotech-logistics connection]\n\n**FISCAL POLICY SHIFTS**\n**Global Announcements**: [US, EU, China, Japan spending]\n**Deficit Trends**: [Fiscal expansion/contraction and bond implications]\n**Infrastructure Focus**: [Transportation, energy, digital investments]\n**Thailand Fiscal**: [Budget, infrastructure, digital wallet programs]\n**Market Impact**: [Growth, inflation, yield curve effects]\n**Deep Knowledge**: [Obscure fiscal-monetary interaction]\n\n**AI CREDIT CYCLE ANALYSIS**\n**AI Sector Debt**: [Issuance, terms, pricing]\n**Tech Credit Spreads**: [IG vs HY tech spread dynamics]\n**Credit Cycle Stage**: [Expansion, peak, contraction assessment]\n**Default Risk**: [Overleveraged AI companies, cash burn analysis]\n**Infrastructure Financing**: [Data center, GPU, cloud capex funding]\n**Deep Knowledge**: [Obscure AI credit risk indicator]\n\n**US vs EMERGING MARKETS PERFORMANCE**\n**Relative Performance**: [S&P 500 vs MSCI EM with drivers]\n**Valuation Comparison**: [P/E, earnings growth, risk premium]\n**Currency & Flows**: [Dollar impact, capital rotation patterns]\n**Geopolitical Considerations**: [Trade, sanctions, political risk]\n**Opportunity Assessment**: [EM oversold or overvalued?]\n**Deep Knowledge**: [Obscure EM correlation breaking]\n\n**ACTIONABLE INVESTMENT INTELLIGENCE**\n\n**Asset Allocation Recommendation**:\n- Equities: [% allocation, risk-on/off stance]\n- Fixed Income: [Duration, credit quality positioning]\n- Cash: [Opportunity cost vs safety]\n- Alternatives: [Gold, crypto, commodities exposure]\n\n**Sector Positioning**:\n- Overweight: [Specific sectors with rationale]\n- Underweight: [Sectors to reduce with reasoning]\n- Tactical Trades: [Short-term opportunities]\n\n**Geographic Exposure**:\n- DM vs EM: [Allocation split with justification]\n- Regional Focus: [US, Europe, Asia, Thailand specifics]\n\n**Risk Management**:\n- Hedging: [VIX, puts, currency hedges, tail risk]\n- Stop-Loss Levels: [Technical levels to exit positions]\n- Position Sizing: [Risk-adjusted sizing based on volatility]\n\n**Catalysts to Monitor (Next 24-48 Hours)**:\n[Specific events, data releases, policy decisions to watch]\n\n**Entry/Exit Strategy**:\n[Specific price levels, timing considerations, confirmation signals]\n\n---\n\nFinancial Markets Research Data:\n\"\"\"\n{{ $json.content.parts.map(e => e.text).join(' \\n\\n---------------------\\n\\n')}}\n\"\"\"\n\nIMPORTANT: Start directly with your analysis. No preamble, delimiters, or meta-commentary. Write for professional investors and portfolio managers who need quantitative, actionable intelligence. Include specific ticker symbols, price levels, percentages, and data points. Prioritize institutional-grade analysis over generic market commentary.\n\nOutput:"}]},"builtInTools":{"googleSearch":false,"urlContext":false},"options":{"includeMergedResponse":true}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,-16],"id":"c68eee69-daac-4a0e-983e-81a839a5c5d2","name":"Aanylze Markets","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=Your are Senior Intelligence Analyst. Temporal Constraint: Focus exclusively on events and data points emerged or significantly escalated in the last 24 hours focus on {{ $env.TODAY_DATE }}.\nConduct in-depth research and analyze the following 6 areas with focus on the last 24 hours:\n1. **Global Liquidity & Central Bank Activity**: Latest policy decisions, liquidity injections/withdrawals, and impacts on asset prices\n2. **Market Sentiment Indicators**: VIX, put/call ratios, institutional flows, and risk-on/risk-off signals across equities, bonds, and crypto\n3. **Financial Markets Trend Analysis**: Key movements in major indices (S&P 500, NASDAQ, global markets), sector rotations, and momentum shifts\n4. **Thailand Economic & Market Updates**: SET Index performance, baht movement, policy announcements, and local institutional flows\n5. **Biotech-Logistics Sector Developments**: Latest deals, FDA approvals, supply chain innovations, cold chain tech, and major company announcements in healthcare logistics\n6. **Fiscal Policy Shifts**: Government spending announcements, deficit trends, infrastructure plans (global focus + Thailand specifics)\nFor each topic: Identify key developments, implications for growth/financial markets, and actionable insights. Prioritize quantitative data and institutional-grade sources.\nResearch query:\n\n  "}]},"builtInTools":{"googleSearch":true,"urlContext":true},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[32,0],"id":"6b6c1d8f-ea2f-4428-b753-cf12d481aca4","name":"Research Markets","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Markets","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Aanylze Markets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Research Markets":{"main":[[{"node":"Aanylze Markets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46193fc8-2d36-4355-8c77-0ad84488779f","activeVersionId":"60270941-d721-4c46-9f4c-339c32f00129","versionCounter":49,"triggerCount":0,"tags":[{"updatedAt":"2026-01-19T01:29:19.766Z","createdAt":"2026-01-19T01:29:19.766Z","id":"WpHZ3XGhQi7PxBM2","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-27T06:25:21.509Z","createdAt":"2026-01-27T06:25:21.509Z","role":"workflow:owner","workflowId":"IYRdfkLhYI1x2Ak6","projectId":"G1bADeWyo6vl4ZUw","project":{"updatedAt":"2026-01-29T04:10:56.467Z","createdAt":"2026-01-27T02:55:21.408Z","id":"G1bADeWyo6vl4ZUw","name":"Phupha phukao777@gmail.com <phukao777@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d84938e7-e926-4d2b-8db5-ce23c78b5857"}}]}