workflows/QdSzSZGJP2tKve8P.json
{"updatedAt":"2026-02-04T02:46:43.663Z","createdAt":"2026-01-19T08:11:48.128Z","id":"QdSzSZGJP2tKve8P","name":"TLDR-Environment","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,32],"id":"33605b98-07a0-4f16-bf43-17da4e4c507f","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"bf84b34c-b826-4640-8f17-9e9e12e7f2fc","name":"ai_result","value":"={{ $json.content.parts.map( data => data.text).join(' \\n') }}","type":"string"},{"id":"6149a4b9-b490-4ad5-8534-bd3101c45026","name":"id","value":"environment","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,0],"id":"e9d89680-f642-4674-87ba-a80166e521c8","name":"Edit Fields"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"KKGaCuemgLqGxrDl","mode":"list","cachedResultName":"result","cachedResultUrl":"/projects/BkfMiM8pQHAe7CxL/datatables/KKGaCuemgLqGxrDl"},"filters":{"conditions":[{"keyName":"pillar","keyValue":"environment"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.ai_result }}","pillar":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pillar","displayName":"pillar","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[864,-16],"id":"fc5967ed-e8c1-4383-a07b-1c889a629aa9","name":"Upsert row(s)"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=Your are Senior Intelligence Analyst. Temporal Constraint: Focus exclusively on events and data points emerged or significantly escalated in the last 24 hours focus on {{ $env.TODAY_DATE }}.\nConduct in-depth research and analyze the following 12 environmental/wildlife areas with focus on the last 24 hours:\n1. **Climate Change Indicators**: Temperature anomalies, ice sheet measurements, ocean heat content, atmospheric CO2 levels, and tipping point warnings\n2. **Carbon Footprint & Emissions**: New carbon capture technologies, national emission reports, corporate net-zero commitments, and mitigation strategies\n3. **Wildlife Conservation Breakthroughs**: Endangered species recovery, anti-poaching tech, habitat restoration projects, and conservation funding\n4. **Zoological Discoveries**: New species identified, animal behavior research, evolutionary findings, and taxonomic updates\n5. **Ocean & Marine Science**: Coral reef health, ocean acidification, deep-sea discoveries, marine biodiversity, and fisheries sustainability\n6. **Biodiversity & Ecosystem Health**: Species extinction rates, ecosystem collapse warnings, rewilding projects, and biodiversity hotspot monitoring\n7. **Renewable Energy Advances**: Solar/wind efficiency breakthroughs, energy storage innovations, grid integration, and clean energy adoption rates\n8. **Deforestation & Land Use**: Rainforest monitoring, illegal logging detection, reforestation initiatives, and land degradation trends\n9. **Extreme Weather Events**: Hurricanes, droughts, floods, heatwaves, and attribution science linking events to climate change\n10. **Pollution & Environmental Toxins**: Air quality indices, microplastic research, chemical contamination, and remediation technologies\n11. **Wildlife Migration & Adaptation**: Species range shifts, behavioral adaptations to climate change, migration pattern disruptions, and evolutionary responses\n12. **Environmental Policy & Agreements**: International climate negotiations, carbon pricing mechanisms, protected area designations, and regulatory changes\nFor each: Include biological/technical mechanisms, quantitative data, geographic scope, causation analysis, and implications for planetary health. Prioritize scientific studies and institutional reports.\n\nResearch query:"}]},"builtInTools":{"googleSearch":true,"urlContext":true},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[32,0],"id":"4368c827-8af2-4566-bb16-c746ebac6251","name":"Research Environment","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"=You are a Senior Environmental Intelligence Analyst specializing in climate systems, biodiversity dynamics, and conservation technology. Your task is to synthesize complex environmental research into actionable intelligence that reveals critical planetary shifts, emerging solutions, and paradoxical dynamics that demand immediate attention.\n\n# Your Mission\nTransform raw environmental research data into a comprehensive intelligence brief that reveals:\n1. **Critical Planetary Signals**: What are the 5 most urgent environmental developments in the last 24 hours on {{ $env.TODAY_DATE }}?\n2. **Conservation Technology in Action**: Identify specific tech deployments protecting endangered species or ecosystems\n3. **Climate Mitigation Paradoxes**: Expose solutions that create unintended environmental consequences\n4. **Biodiversity Hotspot Alerts**: Flag critical threats or breakthroughs in key ecosystems\n5. **Emerging Mechanisms**: Explain biological/technical processes behind major discoveries\n\n# Step-by-Step Analysis Process\n\n1. **Scan All 12 Research Categories**: Review climate indicators, emissions, conservation, zoological discoveries, marine science, biodiversity, renewable energy, deforestation, extreme weather, pollution, wildlife adaptation, and policy developments\n\n2. **Identify 5 Critical Planetary Developments**: Extract the most urgent or significant environmental events from the last 24 hours across all categories, prioritizing:\n   - Tipping point warnings or threshold crossings\n   - Major species/ecosystem threats or recoveries\n   - Breakthrough technologies or scientific discoveries\n   - Policy shifts with global implications\n   - Extreme weather attribution or records\n\n3. **Conservation Technology Spotlight**: Find and detail at least ONE specific example of:\n   - Technology type (TinyML, AI, drones, satellite monitoring, DNA tracking, acoustic sensors, etc.)\n   - Specific endangered species or ecosystem being protected\n   - How the technology works (mechanism)\n   - Measurable impact or early results\n   - Geographic deployment location\n\n4. **Climate Mitigation Paradoxes**: Identify at least TWO examples where:\n   - A climate solution creates unexpected environmental harm\n   - Example framework: \"Electric vehicle batteries reduce emissions but increase mining damage to X ecosystem\"\n   - Renewable energy deployment disrupts wildlife/habitat\n   - Carbon offset programs enable continued pollution\n   - Geoengineering proposals risk unforeseen consequences\n   - \"Green\" technologies have hidden carbon/resource costs\n\n5. **Biodiversity Hotspot Analysis**: Highlight at least TWO critical developments in:\n   - Tropical rainforests (Amazon, Congo, Southeast Asia)\n   - Coral reef systems\n   - Arctic/Antarctic regions\n   - Wetlands and freshwater ecosystems\n   - Island ecosystems with endemic species\n   Include: threat level, species affected, causation chain\n\n6. **Deep Knowledge Extraction**: Provide one obscure, high-value fact about:\n   - Ecosystem tipping points or feedback loops\n   - Evolutionary adaptation mechanisms\n   - Historical climate precedents\n   - Indigenous conservation practices\n   - Cutting-edge monitoring technologies\n   - Underreported species/ecosystem dynamics\n\n7. **Biological/Technical Mechanisms**: For major discoveries, explain:\n   - HOW the process works at molecular/ecological/technical level\n   - WHY it matters for planetary health\n   - WHAT cascading effects could occur\n\n# Output Structure\n\n**CRITICAL PLANETARY DEVELOPMENTS (Last 24 Hours)**\n[5 most urgent environmental events with impact severity and geographic scope]\n\n**CONSERVATION TECHNOLOGY IN ACTION**\n**Species/Ecosystem**: [Specific endangered species or critical habitat]\n**Technology**: [Specific tech solution - TinyML, AI, sensors, etc.]\n**Mechanism**: [How it works technically/biologically]\n**Deployment**: [Where and by whom]\n**Impact**: [Measurable results or expected outcomes]\n\n**CLIMATE MITIGATION PARADOXES**\n[2+ examples of environmental solutions with unintended harmful consequences, including mechanism explanation]\n\n**BIODIVERSITY HOTSPOT ALERTS**\n[2+ critical developments in key ecosystems with threat assessment and species impact]\n\n**BREAKTHROUGH MECHANISMS EXPLAINED**\n[Detailed explanation of biological/technical processes behind major discoveries - molecular, ecological, or engineering level]\n\n**DEEP KNOWLEDGE**\n[One obscure, high-value environmental fact with strategic implications]\n\n**PLANETARY HEALTH IMPLICATIONS**\n- Ecosystem Resilience: [What's strengthening or weakening]\n- Species Survival: [Critical populations at risk or recovering]\n- Climate Trajectory: [How these developments affect warming/cooling trends]\n- Human Impact: [Food security, water, health, migration implications]\n\n**MONITORING PRIORITIES**\n[Key indicators, regions, or species to watch in next 24-48 hours]\n\n---\n\nEnvironmental Research Data:\n\"\"\"\n{{ $json.content.parts.map(e => e.text).join(' \\n\\n---------------------\\n\\n')}}\n\"\"\"\n\nIMPORTANT: Start directly with your analysis. No preamble, delimiters, or meta-commentary. Write with scientific precision but accessible language. Include quantitative data where available.\n\nOutput:"}]},"builtInTools":{"googleSearch":false,"urlContext":false},"options":{"includeMergedResponse":true}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,-16],"id":"f228fdae-0a5f-4ef0-8490-42408df8c701","name":"Aanylze Environment","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Environment","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Research Environment":{"main":[[{"node":"Aanylze Environment","type":"main","index":0}]]},"Aanylze Environment":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5aa229db-2fb6-4be0-9ff1-ae874862ec8d","activeVersionId":"9d33d397-2aae-4706-9707-690e40f9a9ad","versionCounter":61,"triggerCount":0,"tags":[{"updatedAt":"2026-01-19T01:29:19.766Z","createdAt":"2026-01-19T01:29:19.766Z","id":"WpHZ3XGhQi7PxBM2","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-27T06:25:21.514Z","createdAt":"2026-01-27T06:25:21.514Z","role":"workflow:owner","workflowId":"QdSzSZGJP2tKve8P","projectId":"G1bADeWyo6vl4ZUw","project":{"updatedAt":"2026-01-29T04:10:56.467Z","createdAt":"2026-01-27T02:55:21.408Z","id":"G1bADeWyo6vl4ZUw","name":"Phupha phukao777@gmail.com <phukao777@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d84938e7-e926-4d2b-8db5-ce23c78b5857"}}]}