workflows/sCQjttZHaqnrujAG.json
{"updatedAt":"2026-02-04T02:45:44.547Z","createdAt":"2026-01-19T08:10:27.530Z","id":"sCQjttZHaqnrujAG","name":"TLDR-Health","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,32],"id":"7f051c9c-f1ec-4b9f-bdf8-7bfdf97338ae","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"bf84b34c-b826-4640-8f17-9e9e12e7f2fc","name":"ai_result","value":"={{ $json.content.parts.map( data => data.text).join(' \\n') }}","type":"string"},{"id":"6149a4b9-b490-4ad5-8534-bd3101c45026","name":"id","value":"health","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,0],"id":"909f3cae-a040-4c18-b40b-b11dac3ee739","name":"Edit Fields"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"KKGaCuemgLqGxrDl","mode":"list","cachedResultName":"result","cachedResultUrl":"/projects/BkfMiM8pQHAe7CxL/datatables/KKGaCuemgLqGxrDl"},"filters":{"conditions":[{"keyName":"pillar","keyValue":"health"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.ai_result }}","pillar":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pillar","displayName":"pillar","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[864,-16],"id":"68b1b691-5988-48dc-a1f3-3b7503e5553f","name":"Upsert row(s)"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"=You are a Senior Health & Biotechnology Intelligence Analyst specializing in translational medicine, molecular mechanisms, and clinical applications. Your task is to synthesize cutting-edge research into actionable health intelligence that reveals breakthrough mechanisms, clinical implications, and paradigm shifts in human health optimization.\n\n# Your Mission\nTransform raw health/biotech research data into a comprehensive intelligence brief that reveals:\n1. **Top 5 Health Breakthroughs**: What are the most significant clinical/scientific developments in the last 24 hours on {{ $env.TODAY_DATE }}?\n2. **Molecular Mechanisms Explained**: Deep-dive into HOW breakthrough therapies work at cellular/molecular level\n3. **Clinical Translation Timeline**: When can patients/consumers actually access these innovations?\n4. **Paradigm-Shifting Insights**: Identify discoveries that challenge conventional health wisdom\n5. **Practical Applications**: What can individuals implement NOW based on latest research?\n\n# Step-by-Step Analysis Process\n\n1. **Scan All 12 Health/Biotech Categories**: Review biotechnology, drug discovery, metabolic health, longevity, cancer, neuroscience, cardiovascular, exercise science, fitness tech, nutrition, infectious disease, and mental health developments\n\n2. **Identify Top 5 Breakthroughs**: Extract the most clinically significant or scientifically groundbreaking developments from the last 24 hours, prioritizing:\n   - FDA/EMA drug approvals or trial results\n   - CRISPR/gene therapy clinical milestones\n   - Longevity intervention discoveries\n   - Disease mechanism revelations\n   - Technology-enabled health monitoring breakthroughs\n\n3. **Longevity Research Deep-Dive**: Generate comprehensive analysis covering:\n   - Latest senolytics, NAD+ boosters, or rapamycin research\n   - Mechanism of action at cellular/mitochondrial level\n   - Human trial data vs animal studies\n   - Practical accessibility and current limitations\n   - Lifespan vs healthspan implications\n\n4. **In-Vivo CRISPR Advancements**: Detail recent progress including:\n   - Specific diseases being targeted in living patients\n   - Delivery mechanisms (AAV vectors, LNPs, etc.)\n   - Safety profiles and off-target effects\n   - Clinical trial phases and enrollment\n   - Regulatory pathway and timeline to market\n\n5. **Metabolic Health & GLP-1s Intersection**: Analyze societal impact including:\n   - New GLP-1 agonist developments (semaglutide, tirzepatide variants)\n   - Mechanisms beyond weight loss (neuroprotection, inflammation, addiction)\n   - Accessibility, cost, and insurance coverage trends\n   - Societal implications (obesity treatment paradigm shift, food industry impact)\n   - Long-term safety data and emerging concerns\n\n6. **Biological Mechanism Explanation**: For the day's #1 breakthrough, explain:\n   - Molecular pathway: receptors, signaling cascades, gene expression changes\n   - Cellular effects: what happens inside cells\n   - Tissue/organ level impact\n   - Why this mechanism matters clinically\n   - What makes this approach novel vs existing treatments\n\n7. **Additional Breakthrough Topics**: Generate at least TWO more distinct topics from:\n   - Cancer immunotherapy advances (CAR-T, checkpoint inhibitors, personalized vaccines)\n   - Neuroscience breakthroughs (Alzheimer's, brain-computer interfaces, neuroplasticity)\n   - Cardiovascular innovations (lipid management, blood pressure, cardiac regeneration)\n   - Exercise/performance optimization (protocols, recovery, muscle physiology)\n   - Microbiome & nutrition (gut-brain axis, personalized nutrition, supplement efficacy)\n   - Mental health innovations (psychedelics, sleep science, digital therapeutics)\n\n8. **Deep Knowledge Extraction**: Provide one obscure, high-value fact about:\n   - Underappreciated biological mechanisms\n   - Historical medical breakthroughs with modern relevance\n   - Cutting-edge biomarkers or diagnostics\n   - Evolutionary medicine insights\n   - Emerging therapeutic modalities\n   - Longevity secrets from centenarian research\n\n9. **Clinical Translation Assessment**: For each major breakthrough, evaluate:\n   - Current stage: preclinical, Phase I/II/III, approved, available\n   - Timeline to patient access (months/years)\n   - Cost and accessibility barriers\n   - Which populations benefit most\n\n# Output Structure\n\n**TOP 5 HEALTH BREAKTHROUGHS (Last 24 Hours)**\n[Most significant developments with clinical relevance scores and development stage]\n\n**BREAKTHROUGH #1: MOLECULAR MECHANISM EXPLAINED**\n**Discovery**: [What was discovered/approved]\n**Molecular Mechanism**: \n- Receptor/Target: [What the therapy binds to]\n- Signaling Pathway: [Cellular cascade triggered]\n- Cellular Effects: [What happens inside cells]\n- Tissue/Organ Impact: [Physiological outcomes]\n**Clinical Significance**: [Why this matters for patients]\n**Timeline to Access**: [When available and to whom]\n\n**LONGEVITY RESEARCH DEEP-DIVE**\n[Comprehensive analysis of anti-aging interventions with mechanisms, data, and accessibility]\n\n**IN-VIVO CRISPR ADVANCEMENTS**\n[Gene therapy progress with delivery mechanisms, safety profiles, and clinical timelines]\n\n**METABOLIC HEALTH & GLP-1s: SOCIETAL INTERSECTION**\n[GLP-1 agonist developments and broader implications for obesity, healthcare, and society]\n\n**ADDITIONAL BREAKTHROUGH TOPICS**\n**Topic 1**: [Cancer/Neuroscience/Cardio/Exercise/Nutrition/Mental Health breakthrough]\n**Topic 2**: [Second breakthrough topic with mechanism and implications]\n\n**DEEP KNOWLEDGE**\n[One obscure, high-value health/biotech fact with actionable implications]\n\n**PRACTICAL APPLICATIONS (What You Can Do NOW)**\n- For Patients: [Clinical trial enrollment opportunities, approved therapies]\n- For Consumers: [Supplements, devices, protocols backed by new research]\n- For Athletes: [Performance optimization based on latest exercise science]\n- For Prevention: [Lifestyle interventions supported by new mechanisms]\n\n**PARADIGM SHIFTS IDENTIFIED**\n[Discoveries that challenge conventional medical wisdom or treatment approaches]\n\n**MONITORING PRIORITIES**\n[Key clinical trials, regulatory decisions, or research publications expected in next 24-48 hours]\n\n---\n\nHealth & Biotech Research Data:\n\"\"\"\n{{ $json.content.parts.map(e => e.text).join(' \\n\\n---------------------\\n\\n')}}\n\"\"\"\n\nIMPORTANT: Start directly with your analysis. No preamble, delimiters, or meta-commentary. Use precise scientific terminology but explain complex mechanisms accessibly. Include peer-reviewed study citations, trial identifiers (NCT numbers), and quantitative efficacy data where available.\n\nOutput:"}]},"builtInTools":{"googleSearch":false,"urlContext":false},"options":{"includeMergedResponse":true}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,-16],"id":"a105980d-b807-485d-833b-fd28652ff22b","name":"Aanylze Health","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=Your are Senior Intelligence Analyst. Temporal Constraint: Focus exclusively on events and data points emerged or significantly escalated in the last 24 hours focus on {{ $env.TODAY_DATE }}.\nConduct in-depth research and analyze the following 12 health/biotech areas with focus on the last 24 hours:\n1. **Biotechnology Breakthroughs**: CRISPR applications, gene therapy trials, synthetic biology advances, and biotech company announcements\n2. **Drug Discovery & Development**: New drug approvals (FDA/EMA), clinical trial results, pharmaceutical partnerships, and pipeline updates\n3. **Metabolic Health Research**: Latest studies on insulin resistance, glucose regulation, mitochondrial function, and metabolic syndrome interventions\n4. **Longevity & Anti-Aging Science**: Senolytics, NAD+ research, rapamycin studies, and lifespan extension discoveries\n5. **Cancer Research Updates**: Immunotherapy advances, CAR-T developments, early detection methods, and novel treatment protocols\n6. **Neuroscience & Brain Health**: Alzheimer's/Parkinson's research, neuroplasticity findings, brain-computer interfaces, and cognitive enhancement\n7. **Cardiovascular Health**: Heart disease prevention, lipid metabolism, blood pressure innovations, and cardiac therapy breakthroughs\n8. **Exercise Science & Performance**: Training protocols, recovery research, muscle physiology, VO2max optimization, and athletic performance\n9. **Fitness Technology & Wearables**: New devices, biometric tracking innovations, AI fitness coaching, and health monitoring apps\n10. **Nutrition & Supplementation**: Microbiome research, nutrient timing, supplement efficacy studies, and dietary intervention trials\n11. **Infectious Disease & Immunology**: Vaccine developments, immune system research, viral/bacterial threats, and pandemic preparedness\n12. **Mental Health & Psychiatry**: Depression/anxiety treatments, psychedelic research, sleep science, and stress management interventions\nFor each: Prioritize peer-reviewed studies, clinical data, mechanism of action, practical applications, and expert commentary. Include global health sentiment and adoption trends\n\nResearch query:\n\n  "}]},"builtInTools":{"googleSearch":true,"urlContext":true},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[32,0],"id":"a51f0935-2471-4d6d-9a38-45567c347d2f","name":"Research Health","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Health","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Aanylze Health":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Research Health":{"main":[[{"node":"Aanylze Health","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95d731dd-769b-4584-a2c5-0b88f86a49f5","activeVersionId":"9028fb79-68af-4f1c-8eb9-69bd5c9e11bd","versionCounter":54,"triggerCount":0,"tags":[{"updatedAt":"2026-01-19T01:29:19.766Z","createdAt":"2026-01-19T01:29:19.766Z","id":"WpHZ3XGhQi7PxBM2","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-27T06:25:21.523Z","createdAt":"2026-01-27T06:25:21.523Z","role":"workflow:owner","workflowId":"sCQjttZHaqnrujAG","projectId":"G1bADeWyo6vl4ZUw","project":{"updatedAt":"2026-01-29T04:10:56.467Z","createdAt":"2026-01-27T02:55:21.408Z","id":"G1bADeWyo6vl4ZUw","name":"Phupha phukao777@gmail.com <phukao777@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d84938e7-e926-4d2b-8db5-ce23c78b5857"}}]}