workflows/xswkRPME4gL2nleT.json
{"updatedAt":"2026-01-29T04:31:08.766Z","createdAt":"2026-01-19T08:13:03.131Z","id":"xswkRPME4gL2nleT","name":"TLDR-Thailand","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,32],"id":"2cadedc6-9ebd-4d04-bc1e-c023c420ce4b","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"bf84b34c-b826-4640-8f17-9e9e12e7f2fc","name":"ai_result","value":"={{ $json.content.parts.map( data => data.text).join(' \\n') }}","type":"string"},{"id":"6149a4b9-b490-4ad5-8534-bd3101c45026","name":"id","value":"thailand","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,0],"id":"5127b351-9cb6-49f6-8843-82d4f90d6020","name":"Edit Fields"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"KKGaCuemgLqGxrDl","mode":"list","cachedResultName":"result","cachedResultUrl":"/projects/BkfMiM8pQHAe7CxL/datatables/KKGaCuemgLqGxrDl"},"filters":{"conditions":[{"keyName":"pillar","keyValue":"thailand"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.ai_result }}","pillar":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pillar","displayName":"pillar","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[864,-16],"id":"94bc28b9-4eb7-4ee8-bfb0-b4ceb3957f58","name":"Upsert row(s)"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=Conduct in-depth research and analyze the following 12 environmental/wildlife Your are Senior Intelligence Analyst. Temporal Constraint: Focus exclusively on events and data points emerged or significantly escalated in the last 24 hours focus on {{ $env?.TODAY_DATE || $today.format('yyyy-MM-dd') }}.\nConduct in-depth research and analyze the following 7 Thailand-focused areas with focus on the last 24 hours:\n1. **Thai Stock Market & Financial Markets**: SET Index movements, sector performance, foreign investment flows, top gainers/losers, and institutional trading activity\n2. **Thai Baht & Currency Markets**: THB exchange rates vs USD/CNY/JPY, central bank interventions, capital flows, and currency market sentiment\n3. **Bank of Thailand & Monetary Policy**: Interest rate decisions, inflation data, economic forecasts, liquidity management, and policy statement analysis\n4. **Thai Economic Indicators**: GDP updates, export/import data, manufacturing PMI, consumer confidence, tourism arrivals, and employment figures\n5. **Government Policy & Fiscal Developments**: Budget announcements, infrastructure projects, stimulus packages, digital wallet schemes, and regulatory changes\n6. **Thai Business & Corporate News**: Major deals, IPOs, earnings reports, expansion plans, bankruptcies, and significant company announcements across all sectors\n7. **Thailand Social & Cultural Trends**: Viral news, major events, political developments, social movements, consumer behavior shifts, and national highlights\nFor each: Include market impact analysis, sentiment indicators, comparison to regional peers (ASEAN), and implications for investors/businesses. Prioritize Thai and international financial sources, government data, and local news outlets.\n\nResearch query:"}]},"builtInTools":{"googleSearch":true,"urlContext":true},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[32,0],"id":"1a34fb7c-f31a-4b3b-8bdc-adc88eb3e9a7","name":"Research Thailand","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"=You are a Senior Economic Intelligence Analyst specializing in Thai markets and ASEAN regional dynamics. Your task is to synthesize research data into actionable intelligence, identifying critical market signals, counter-intuitive trends, and strategic implications that non-expert stakeholders can understand and act upon.\n\n# Your Mission\nTransform raw research data into a comprehensive intelligence brief that reveals:\n1. **Primary Market Signals**: What are the 3 most significant developments in the last 24 hours affecting Thai markets/economy?\n2. **Counter-Intuitive Insights**: Identify trends or data points that appear straightforward but reveal contrary underlying dynamics\n3. **Strategic Implications**: What should investors, businesses, and decision-makers actually DO with this information?\n4. **Regional Context**: How does Thailand's position compare to ASEAN peers, and what does this reveal?\n\n# Step-by-Step Analysis Process\n\n1. **Scan the Research Data**: Review all 7 topic areas from the Thailand research output\n   \n2. **Identify Critical Developments**: Extract the 3 most market-moving or economically significant events from the last 24 hours\n\n3. **Surface Counter-Intuitive Dynamics**: Find at least ONE major trend/data point that:\n   - Appears logical or predictable on the surface\n   - Actually reveals a hidden, contrary reality upon deeper analysis\n   - Example framework: \"Rising X appears positive, but actually signals Y risk because Z mechanism\"\n   \n4. **Generate Related Counter-Intuitive Points**: Develop 2+ additional counter-intuitive insights connected to Thai economic dynamics, such as:\n   - Policy announcements with unintended consequences\n   - Market movements that contradict sentiment\n   - Correlation breaks between traditional indicators\n   - Behavioral economics paradoxes in Thai consumer/investor behavior\n\n5. **Provide Deep Knowledge**: Share one obscure, high-value fact about Thai economic mechanisms, historical patterns, or institutional dynamics that provides unique analytical edge\n\n6. **Synthesize Actionable Intelligence**: \n   - What are the investment/business implications?\n   - What should be monitored in the next 24-48 hours?\n   - What risks are being underpriced or overlooked?\n\n# Output Structure\n\n**CRITICAL DEVELOPMENTS (Last 24 Hours)**\n[3 most significant market-moving events with brief impact analysis]\n\n**COUNTER-INTUITIVE INSIGHT**\n[Primary counter-intuitive trend with detailed explanation of why it contradicts surface logic, including concrete example]\n\n**RELATED COUNTER-INTUITIVE DYNAMICS**\n[2+ additional counter-intuitive points about Thai markets/economy]\n\n**DEEP KNOWLEDGE**\n[One obscure, high-value fact about Thai economic mechanisms or patterns]\n\n**STRATEGIC IMPLICATIONS**\n- For Investors: [Specific actions or positioning]\n- For Businesses: [Operational or strategic considerations]\n- For Monitoring: [Key indicators to watch next]\n\n**REGIONAL POSITIONING**\n[How Thailand compares to ASEAN peers and what this reveals about competitive dynamics]\n---\n\nThailand Economic Research Data:\n\"\"\"\n{{ $json.content.parts.map(e => e.text).join(' \\n\\n---------------------\\n\\n')}}\n\"\"\"\nIMPORTANT: Start directly with your analysis. No preamble, delimiters, or meta-commentary. Write in clear, executive-briefing style.\n\nOutput:"}]},"builtInTools":{"googleSearch":false,"urlContext":false},"options":{"includeMergedResponse":true}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,-16],"id":"1a8f06cf-a3ce-44e3-bb85-6dc573d35a9a","name":"Aanylze Thailand","credentials":{"googlePalmApi":{"id":"Zymhya9t2OumwvoG","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Thailand","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Research Thailand":{"main":[[{"node":"Aanylze Thailand","type":"main","index":0}]]},"Aanylze Thailand":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f17d2f1-881b-4224-8d89-329b1528fdae","activeVersionId":"1f5b12dc-f662-4545-867d-59808dc32707","versionCounter":59,"triggerCount":0,"tags":[{"updatedAt":"2026-01-19T01:29:19.766Z","createdAt":"2026-01-19T01:29:19.766Z","id":"WpHZ3XGhQi7PxBM2","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-27T06:25:21.525Z","createdAt":"2026-01-27T06:25:21.525Z","role":"workflow:owner","workflowId":"xswkRPME4gL2nleT","projectId":"G1bADeWyo6vl4ZUw","project":{"updatedAt":"2026-01-29T04:10:56.467Z","createdAt":"2026-01-27T02:55:21.408Z","id":"G1bADeWyo6vl4ZUw","name":"phalll pp@sh.com <pp@sh.com>","type":"personal","icon":null,"description":null,"creatorId":"d84938e7-e926-4d2b-8db5-ce23c78b5857"}}]}